html {
	font-size: 10px;
	background: url("../images/background.jpg") center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.keys-wrapper>h1 {
	color: #fff;
	font-size: 2.5rem;
	text-shadow: 0px 0px 4px #000000;
}

.keys {
	display: flex;
	align-items: center;
	justify-content: center;
}

.key {
	border: .4rem solid black;
	border-radius: .5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	transition:all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 5px black;
}

.playing {
	transform: scale(1.2);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	font-family: 'Permanent Marker', cursive;
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #ffc600;
}